body {
	background-color: black;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

input {
	color: black;
	font-family: inherit;
}

button {
	color: black;
	font-family: inherit;
}
